<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../../../dist/css/order/style.css"/>
    <style>
        /*header,*/
        /*.container {*/
        /*position: relative;*/
        /*z-index: 9;*/
        /*opacity: 0.6;*/
        /*}*/
    </style>
</head>
<body>
<!--<img src="order.png" style="position: absolute;width: 100%;top: -51px;"/>-->
<header>
    <div class="header-btn">
        <i class="menu-icon"></i>
    </div>
    <div class="header-title">
        <span>我的订单</span>
        <span class="location location-icon">陕西</span>
    </div>
</header>
<div class="container">
    <div class="order-list">
        <div class="order-item">
            <img class="img-paid" src="../../../img/order/paid.png" alt=""/>
            <ul class="item-list">
                <li>
                    <span>智高考VIP服务</span>
                    <span>￥802.02元</span>
                    <span>已支付</span>
                </li>
                <li>
                    <span>成交时间：2016/03/17</span>
                    <span>14:23</span>
                </li>
                <li>
                    <span>取货地址：陕西省西安市新城区</span>
                </li>
                <li>
                    <span>取货电话：18637372819</span>
                </li>
            </ul>
        </div>
        <div class="order-item unpaid">
            <ul class="item-list">
                <li>
                    <span>智高考VIP服务</span>
                    <span>￥802.02元</span>
                    <span>去支付</span>
                </li>
                <li>
                    <span>成交时间：2016/03/17</span>
                    <span>14:23</span>
                </li>
                <li>
                    <span>取货地址：陕西省西安市新城区</span>
                </li>
                <li>
                    <span>取货电话：18637372819</span>
                </li>
            </ul>
        </div>
        <div class="order-item unpaid">
            <ul class="item-list">
                <li>
                    <span>智高考VIP服务</span>
                    <span>￥802.02元</span>
                    <span>去支付</span>
                </li>
                <li>
                    <span>成交时间：2016/03/17</span>
                    <span>14:23</span>
                </li>
                <li>
                    <span>取货地址：陕西省西安市新城区</span>
                </li>
                <li>
                    <span>取货电话：18637372819</span>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>