[class^="i-"],
[class^="icon-"] {
  display: inline-block;
  vertical-align: middle;
}

.icons-sprite, .icon-avatar, .icon-back, .icon-banner, .icon-card, .icon-clear, .icon-code, .icon-code2, .icon-location, .icon-menu, .icon-mobile, .icon-paid, .icon-password, .icon-search, .icon-vip {
  background-image: url('../img/sprites-icons.png');
  background-repeat: no-repeat;
}

.icon-avatar {
  background-position: 0 0;
  height: 132px;
  width: 132px;
}

.icon-back {
  background-position: 0 -134px;
  height: 62px;
  width: 60px;
}

.icon-banner {
  background-position: 0 -198px;
  height: 210px;
  width: 390px;
}

.icon-card {
  background-position: 0 -410px;
  height: 60px;
  width: 64px;
}

.icon-clear {
  background-position: 0 -472px;
  height: 56px;
  width: 56px;
}

.icon-code {
  background-position: 0 -530px;
  height: 187px;
  width: 187px;
}

.icon-code2 {
  background-position: 0 -719px;
  height: 152px;
  width: 152px;
}

.icon-location {
  background-position: 0 -873px;
  height: 44px;
  width: 32px;
}

.icon-menu {
  background-position: 0 -919px;
  height: 60px;
  width: 60px;
}

.icon-mobile {
  background-position: 0 -981px;
  height: 64px;
  width: 64px;
}

.icon-paid {
  background-position: 0 -1047px;
  height: 181px;
  width: 181px;
}

.icon-password {
  background-position: 0 -1230px;
  height: 64px;
  width: 64px;
}

.icon-search {
  background-position: 0 -1296px;
  height: 52px;
  width: 52px;
}

.icon-vip {
  background-position: 0 -1350px;
  height: 242px;
  width: 392px;
}

.icon-avatar {
  -webkit-background-size: 64px 356px;
  background-size: 64px 356px;
  width: 132px;
  height: 132px;
  background-position: 0 0;
}

.icon-back {
  -webkit-background-size: 64px 356px;
  background-size: 64px 356px;
  width: 60px;
  height: 62px;
  background-position: 0 -134px;
}

.icon-banner {
  -webkit-background-size: 64px 356px;
  background-size: 64px 356px;
  width: 390px;
  height: 210px;
  background-position: 0 -198px;
}

.icon-card {
  -webkit-background-size: 64px 356px;
  background-size: 64px 356px;
  width: 64px;
  height: 60px;
  background-position: 0 -410px;
}

.icon-clear {
  -webkit-background-size: 64px 356px;
  background-size: 64px 356px;
  width: 56px;
  height: 56px;
  background-position: 0 -472px;
}

.icon-code {
  -webkit-background-size: 64px 356px;
  background-size: 64px 356px;
  width: 187px;
  height: 187px;
  background-position: 0 -530px;
}

.icon-code2 {
  -webkit-background-size: 64px 356px;
  background-size: 64px 356px;
  width: 152px;
  height: 152px;
  background-position: 0 -719px;
}

.icon-location {
  -webkit-background-size: 64px 356px;
  background-size: 64px 356px;
  width: 32px;
  height: 44px;
  background-position: 0 -873px;
}

.icon-menu {
  -webkit-background-size: 64px 356px;
  background-size: 64px 356px;
  width: 60px;
  height: 60px;
  background-position: 0 -919px;
}

.icon-mobile {
  -webkit-background-size: 64px 356px;
  background-size: 64px 356px;
  width: 64px;
  height: 64px;
  background-position: 0 -981px;
}

.icon-paid {
  -webkit-background-size: 64px 356px;
  background-size: 64px 356px;
  width: 181px;
  height: 181px;
  background-position: 0 -1047px;
}

.icon-password {
  -webkit-background-size: 64px 356px;
  background-size: 64px 356px;
  width: 64px;
  height: 64px;
  background-position: 0 -1230px;
}

.icon-search {
  -webkit-background-size: 64px 356px;
  background-size: 64px 356px;
  width: 52px;
  height: 52px;
  background-position: 0 -1296px;
}

.icon-vip {
  -webkit-background-size: 64px 356px;
  background-size: 64px 356px;
  width: 392px;
  height: 242px;
  background-position: 0 -1350px;
}

/*reset css*/
html,
body,
ul,
li,
div,
input {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
}

body {
  font-family: arial, helvetica, sans-serif;
}

input,
button {
  outline: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.hidden {
  display: none;
}

/*header*/
header {
  height: 39px;
  line-height: 39px;
  background-color: #D51323;
  color: white;
}
header .header-title {
  text-align: center;
}

/*icons*/
.back-icon:before {
  content: "";
  background: url(../img/icons/back.png);
  width: 16px;
  height: 26px;
  background-size: cover;
  display: inline-block;
}

.card-icon:before {
  content: "";
  background: url(../img/icons/card.png);
  width: 24px;
  height: 26px;
  background-size: cover;
  display: inline-block;
}

.location-icon:before {
  content: "";
  background: url(../img/icons/location.png);
  width: 14px;
  height: 21px;
  background-size: cover;
  display: inline-block;
}

.menu-icon:before {
  content: "";
  background: url(../img/icons/menu.png);
  width: 25px;
  height: 25px;
  background-size: cover;
  display: inline-block;
}

.mobile-icon:before {
  content: "";
  background: url(../img/icons/mobile.png);
  width: 28px;
  height: 28px;
  background-size: cover;
  display: inline-block;
}

.password-icon:before {
  content: "";
  background: url(../img/icons/password.png);
  width: 27px;
  height: 27px;
  background-size: cover;
  display: inline-block;
}

.search-icon:before {
  content: "";
  background: url(../img/icons/search.png);
  width: 25px;
  height: 25px;
  background-size: cover;
  display: inline-block;
}

/*from*/
.input-group {
  height: 39px;
  line-height: 39px;
  background-color: #fff;
  position: relative;
  border: 1px solid #E8E8E8;
  border-radius: 2px;
}
.input-group i {
  display: inline-block;
  width: 35px;
  height: 30px;
}
.input-group input {
  vertical-align: top;
  width: calc(100% - 40px);
  height: 100%;
  margin-left: 40px;
  font-size: 14px;
  padding: 0;
  border: none;
}

input {
  height: 39px;
  padding: 0 10px;
  font-size: 14px;
  outline: none;
  border: 1px solid #E8E8E8;
  border-radius: 2px;
}

/*layer*/
.disn {
  display: none;
}

.disb {
  display: block;
}

#toast {
  position: fixed;
  top: 200px;
  left: 50%;
  border-radius: 10px;
  min-width: 200px;
  margin-left: -100px;
  border: 1px solid #f1f1f1;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  opacity: .9;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  font-size: 14px;
}
