<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../../../dist/css/vip-check/style.css"/>
    <style>
        /*header,*/
        /*.container {*/
        /*position: relative;*/
        /*z-index: 9;*/
        /*opacity: 0.6;*/
        /*}*/
    </style>
</head>
<body>
<!--<img src="vip-check.png" style="position: absolute;width: 100%;top: -51px;"/>-->
<header>
    <div class="header-btn">
        <i class="menu-icon"></i>
    </div>
    <div class="header-title">
        <span>升级VIP</span>
        <span class="location location-icon">陕西</span>
    </div>
</header>
<div class="container">
    <div class="banner">
        <img src="../../../img/vip/banner.png" alt=""/>
    </div>
    <div class="vip-check-info">
        <img src="../../../img/vip-check/vip.png" alt=""/>
        <div class="text">
            <div>您已VIP是会员</div>
            <div>VIP时效：从2016-02-25到2019-09-01</div>
        </div>
    </div>
</div>
</body>
</html>