html {
  height: 100%;
  background-color: #F6F6F6;
}

header .header-btn {
  position: absolute;
  height: 23px;
  top: 6px;
  left: 9px
}
.user-info {
  width: 200px;
  margin: 16px auto 10px;
  .avatar {
    width: 60px;
    img{
      width: 100%;
    }
  }
  .summary {
    font-size: 15px;
    margin-top: 13px;
    margin-left: 7px;
    .name {
      color: #8c8c8c;
    }
    .account {
      color: #4A4A4A;
    }
  }
}
.code {
  text-align: center;
  width: 245px;
  height: 245px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D7D7D7;
  box-shadow: 0px 0px 10px #5C5C5C inset;
}
.share-btn {
  height: 39px;
  line-height: 39px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  background-color: #B61F28;
  border: none;
  border-radius: 2px;
  width: 270px;
  margin: 50px auto;
}