<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../../../dist/css/user-detail/style.css"/>
    <style>
        /*header,*/
        /*.container {*/
        /*position: relative;*/
        /*z-index: 9;*/
        /*opacity: 0.6;*/
        /*}*/
    </style>
</head>
<body>
<!--<img src="user-detail.png" style="position: absolute;width: 100%;top: -51px;"/>-->
<header>
    <div class="header-btn">
        <i class="menu-icon"></i>
    </div>
    <div class="header-title">
        <span>个人信息</span>
        <span class="location location-icon">陕西</span>
    </div>
</header>
<div class="container">
    <div class="user-info">
        <span class="modify-btn">
            修改
        </span>
       <div class="info-center">
           <div><img src="../../../img/user-detail/avatar.png" alt=""/></div>
           <div class="name">邓飞</div>
           <div class="account">账号：15209209248</div>
       </div>
    </div>
    <div class="user-detail">
        <ul class="detail-list">
            <li>
                <span>性别</span>
                <span>女</span>
            </li>
            <li>
                <span>所在省份：</span>
                <span>陕西</span>
            </li>
            <li>
                <span>所在县区：</span>
                <span>山阳县</span>
            </li>
            <li>
                <span>所在中学：</span>
                <span>山阳中学</span>
            </li>
            <li>
                <span>科目：</span>
                <span>理科</span>
            </li>
            <li>
                <span>Email：</span>
                <span>256361212@qq.com</span>
            </li>
            <li>
                <span>我的二维码：</span>
                <span>
                    <img src="../../../img/user-detail/code.png" alt=""/>
                </span>
            </li>
        </ul>
    </div>
    <div class="change-password-btn">
        修改密码
    </div>
</div>
</body>
</html>