<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../../../dist/css/user-bullet/style.css"/>
    <!--<style>-->
        <!--header,-->
        <!--.container {-->
        <!--position: relative;-->
        <!--z-index: 9;-->
        <!--opacity: 0.6;-->
        <!--}-->
    <!--</style>-->
</head>
<body>
<!--<img src="bullet.png" style="position: absolute;width: 100%;top: -51px;"/>-->
<header>
    <div class="header-btn">
        <i class="menu-icon"></i>
    </div>
    <div class="header-title">
        <span>我的钱包</span>
        <span class="location location-icon">陕西</span>
    </div>
</header>
<div class="container">
   <div class="container-header">
       <div class="right">
           <img src="../../../img/user-bullet/info.png" alt=""/>
           <a href="">盈利规则</a>
       </div>
        <div class="clearfix"></div>
       <div class="count">
           总金额：￥802.02元
       </div>
       <div class="link" href=""><a href="">申请提现</a></div>
   </div>
    <div class="container-content">
        <ul class="detail-list">
            <li>2016/03月共计收入￥234.05元，明细如下</li>
            <li>
                <span>收入 + 12.00元</span>
                <span class="right">03/16 09:21:23</span>
            </li>
            <li>
                <span>收入 + 12.00元</span>
                <span class="right">03/16 09:21:23</span>
            </li>
            <li>
                <span>收入 + 12.00元</span>
                <span class="right">03/16 09:21:23</span>
            </li>
            <li>
                <span>收入 + 12.00元</span>
                <span class="right">03/16 09:21:23</span>
            </li>
        </ul>
        <ul class="detail-list">
            <li>2016/03月共计收入￥234.05元，明细如下</li>
            <li>
                <span>收入 + 12.00元</span>
                <span class="right">03/16 09:21:23</span>
            </li>
            <li>
                <span>收入 + 12.00元</span>
                <span class="right">03/16 09:21:23</span>
            </li>
            <li>
                <span>收入 + 12.00元</span>
                <span class="right">03/16 09:21:23</span>
            </li>
            <li>
                <span>收入 + 12.00元</span>
                <span class="right">03/16 09:21:23</span>
            </li>
        </ul>
    </div>
</div>
</body>
</html>