<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../../../dist/css/vip/style.css"/>
    <style>
        /*header,*/
        /*.container {*/
        /*position: relative;*/
        /*z-index: 9;*/
        /*opacity: 0.6;*/
        /*}*/
    </style>
</head>
<body>
<!--<img src="vip.png" style="position: absolute;width: 100%;top: -51px;"/>-->
<header>
    <div class="header-btn">
        <i class="menu-icon"></i>
    </div>
    <div class="header-title">
        <span>升级VIP</span>
        <span class="location location-icon">陕西</span>
    </div>
</header>
<div class="container">
    <div class="banner">
        <img src="../../../img/vip/banner.png" alt=""/>
    </div>
    <form action="">
        <div class="form-group">
            <div class="input-group">
                <i class="mobile-icon"></i>
                <input type="text" placeholder="充值账号：15209209240">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <i class="card-icon"></i>
                <input type="text" placeholder="卡号：">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <i class="password-icon"></i>
                <input type="password" placeholder="密码：">
            </div>
        </div>
        <div class="vip-btn">
            升级vip
        </div>
        <div class="link">
            <a href="">在线购买VIP特权</a>
        </div>
    </form>
</div>
</body>
</html>