<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../../../dist/css/modify-user-detail/style.css"/>
    <style>
        /*header,*/
        /*.container {*/
        /*position: relative;*/
        /*z-index: 9;*/
        /*opacity: 0.6;*/
        /*}*/
    </style>
</head>
<body>
<!--<img src="modify.png" style="position: absolute;width: 100%;top: -51px;"/>-->
<header>
    <div class="header-btn">
        <i class="menu-icon"></i>
    </div>
    <div class="header-title">
        <span>个人信息</span>
        <span class="location location-icon">陕西</span>
    </div>
</header>
<div class="container">
    <form action="">
        <div class="avatar">
            <div>
                <img src="../../../img/modify-user-detail/avatar.png" alt=""/>
            </div>
            <div class="upload-btn">上传头像</div>
        </div>
        <div class="form-group">
            <div class="label">姓名</div>
            <input type="text"/>
            <div class="clear">
                <img src="../../../img/modify-user-detail/clear.png" alt=""/>
            </div>
        </div>
        <div class="form-group">
            <div class="label">性别选择：</div>
            <div class="options right">
                <span class="active">女</span>
                <span>男</span>
            </div>
        </div>
        <div class="form-group">
            <div class="label">所在中学：</div>
            <input type="text"/>
            <div class="clear">
                <img src="../../../img/modify-user-detail/clear.png" alt=""/>
            </div>
        </div>
        <div class="form-group">
            <div class="label">科目选择：</div>
            <div class="options right">
                <span>文科</span>
                <span class="active">理科</span>
            </div>
        </div>
        <div class="form-group">
            <div class="label">Email</div>
            <input type="text"/>
            <div class="clear">
                <img src="../../../img/modify-user-detail/clear.png" alt=""/>
            </div>
        </div>
        <div class="submit-btn">
            提交
        </div>
    </form>
</div>
</body>
</html>