<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../../../dist/css/code/style.css"/>
    <style>
        /*header,*/
        /*.container {*/
        /*position: relative;*/
        /*z-index: 9;*/
        /*opacity: 0.6;*/
        /*}*/
    </style>
</head>
<body>
<!--<img src="code2.png" style="position: absolute;width: 100%;top: -51px;"/>-->
<header>


    <div class="header-btn">
        <i class="back-icon"></i>
    </div>
    <div class="header-title">
        <span>我的二维码</span>
    </div>
    <div class="header-btn">
        <i class="search-icon"></i>
    </div>
</header>
<div class="container">
    <div class="user-info clearfix">
        <div class="avatar left">
            <img src="../../../img/code/avatar.png"/>
        </div>
        <div class="summary left">
            <div class="name">邓平</div>
            <div class="account">账号：15209209284</div>
        </div>
    </div>
    <div class="code">
        <img src="../../../img/code/code.png" alt=""/>
    </div>
    <div class="share-btn">
        分享二维码
    </div>
</div>
</body>
</html>



