body.pgwModalOpen {
  overflow: hidden; }

#pgwModalBackdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9000; }

#pgwModal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9010;
  overflow-x: auto;
  overflow-y: scroll;
  text-align: center; }

#pgwModal .pm-container {
  margin: 10px; }

#pgwModal .pm-body {
  display: inline-block;
  max-width: 800px;
  min-width: 300px;
  position: relative;
  width: 100%;
  z-index: 9020;
  margin-top: 10px; }

.pgwModalBackdrop {
  background: #000;
  opacity: .6;
  filter: alpha(opacity=60); }

.pgwModal .pm-body {
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 5px #555;
  box-shadow: 0 0 5px 5px #555; }

.pgwModal .pm-title {
  background: #e5e5e5;
  padding: 5px 0 6px;
  border-bottom: 1px solid #d5d5d5;
  border-radius: 5px 5px 0 0;
  font-size: 1rem;
  min-height: 25px; }

.pgwModal .pm-content {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  text-align: left; }

.pgwModal .pm-close {
  cursor: pointer;
  position: absolute;
  top: 9px;
  right: 15px; }

.pgwModal .pm-close span.pm-icon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwQAADsEBuJFr7QAAABp0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuMTFH80I3AAABIklEQVQ4T62T20oDQRBE+9EIGo1/H4gEQd8E74lJvKHiV+mmai7QNdu+ZFNwWKqmpzJhdq3rur0ShkMIwyGoMTsEl+AenDDw62WGmoAFOAcjWRdjdgX+Ck9gDPw6xbIN4MwvmEmHmFzCQRo+H0E6aRHL1sDP3EiHmLx5WQbrBv4Ic3+yuvYAxtIhJusUtKUf4LvJUhnQDm9SkNWe1MPsDhyD/v42SGEWT/oFfBl5BWFZ2huGWWfgB/gy8g7CVyrt7QVZLHsB//1lvoNhqZqstozPN/DZZPX2tUNMXFYvILr9dFLpEGO2KoNtWRVLezPSIcbsogyRWyC3WcTSZ8AZfnpT6RCDDx3MwTU4YuDXywzFUn6WU3Ag697sgzAcQhjuTmdbpLYNJt1Fr50AAAAASUVORK5CYII=);
  display: block;
  height: 20px;
  width: 20px; }

header {
  position: relative;
  overflow: hidden; }
header .header-title {
  padding-left: 46px; }
header .header-btn {
  position: absolute;
  height: 25px;
  top: 6px;
  left: 9px; }
header .location {
  font-size: 12px;
  vertical-align: 2px;
  margin-left: 1px; }
header .location.location-icon:before {
  vertical-align: -6px;
  margin-right: 4px; }

.description {
  padding: 22px 15px;
  font-size: 14px;
  color: #575757; }
.description .title {
  text-align: center;
  font-size: 12px; }
.description .content {
  margin-top: 18px;
  font-size: 12px;
  line-height: 19px; }

.vip-check-info {
  text-align: center;
  position: relative; }
.vip-check-info img {
  width: 168px; }
.vip-check-info .text {
  position: absolute;
  top: 2px;
  left: 19px;
  font-size: 12px;
  color: #D80C18; }

.vip-buy-btn {
  height: 39px;
  line-height: 39px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  background-color: #D80C18;
  border: none;
  border-radius: 2px;
  width: 270px;
  margin: 78px auto 0; }

.order-info {
  color: #707070;
  padding: 12px;
  line-height: 28px; }

.confirm-btn {
  height: 39px;
  line-height: 39px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  background-color: #D80C18;
  border: none;
  border-radius: 2px;
  width: 270px;
  margin: 20px auto; }

.pgwModal .pm-title {
  background: #D80C18;
  color: #fff;
  font-size: 14px;
  line-height: 25px; }

.pgwModal .pm-close span.pm-icon,
.pgwModal .pm-close {
  display: none; }